.container {
  height: 104px;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #fafafa;
}
.logo {
  height: 48px;
  width: 180px;
  display: flex;
  flex-direction: row;
  margin-top: 28px;
  margin-left: 200px;
  gap: 12px;
}
.logo p {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #5937e0;
}
.menu {
  height: 30px;
  width: 540px;
  display: flex;
  flex-direction: row;
  margin-top: 37px;
  margin-left: 186px;
  gap: 20px;
}
.menu a {
  text-decoration: none;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: black;
}
.signin button {
  border-radius: 20px;
  height: 40px;
  width: 180px;
  margin-top: 32px;
  margin-left: 186px;
  border: none;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: white;
  background-color: #5937e0;
}
.toggle {
  display: none;
}

@media (max-width: 480px) {
  /* .container > *:not(.logo, .toggle, .menuOpen) {
        display: none;    
      } */
  .container {
    width: 678px;
    overflow: hidden;
  }
  .toggle {
    display: block;
    /* background-color: #5937E0; */
    background-color: #fafafa;
    border: none;
    margin-left: 300px;
    margin-top: 44px;
    width: 45px;
    height: 34px;
  }
  .logo {
    height: 58px;
    margin-left: 108px;
  }
  .logo p {
    font-size: 21px;
  }
  .menuOpen {
    height: 30px;
    width: 540px;
    display: flex;
    flex-direction: row;
    margin-top: 37px;
    margin-left: 186px;
    gap: 20px;
  }
}
